# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Thumbnails
Thumbs.db

# Backup files
*.backup
*.bak
*~

# Vim swap files
*.swp
*.swo
*.swn

# Editor directories
*.vscode/launch.json
*.vscode/tasks.json
.idea/

# OS files
.Spotlight-V100
.Trashes

scripts/.local/bin/javm
